.site_navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
a.site_logo {
  font-size: 26px;
  font-weight: 800;
  text-transform: uppercase;
  color: inherit;
  text-decoration: none;
}
.site_navbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
.site_navbar ul li a {
  color: inherit;
  padding: 20px;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
}
.site_navbar ul li a:hover {
  background: #ccc;
}

/* Mobile */

/* nav-toggler css start */
.nav_toggler {
  border: 3px solid #fff;
  padding: 5px;
  background-color: transparent;
  cursor: pointer;
  height: 39px;
  display: none;
}
.nav_toggler span,
.nav_toggler span:before,
.nav_toggler span:after {
  width: 28px;
  height: 3px;
  background-color: #fff;
  display: block;
  transition: 0.3s;
}
.nav_toggler span:before {
  content: "";
  transform: translateY(-9px);
}
.nav_toggler span:after {
  content: "";
  transform: translateY(6px);
}
.nav_toggler.toggler-open span {
  background-color: transparent;
}
.nav_toggler.toggler_open span:before {
  transform: translateY(0px) rotate(45deg);
}
.nav_toggler.toggler_open span:after {
  transform: translateY(-3px) rotate(-45deg);
}
/* nav-toggler css start */

/* mobile breakpoint start */
@media screen and (max-width: 767px) {
  /* navbar css for mobile start */
  .nav_toggler {
    display: block;
  }
  .site_navbar {
    min-height: 60px;
  }
  .site_navbar ul {
    position: absolute;
    width: 100%;
    height: calc(100vh - 60px);
    left: 0;
    top: 60px;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.75);
    max-height: 0;
    overflow: hidden;
    transition: 0.3s;
  }
  .site_navbar ul li {
    width: 100%;
    text-align: center;
  }
  .site_navbar ul li a {
    padding: 25px;
  }
  .site_navbar ul li a:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .site_navbar ul.open {
    max-height: 100vh;
    overflow: visible;
  }

  /* navbar css for mobile end */
}
/* mobile breakpoint end */
